**/__pycache__
**/.pytest_cache
**/.DS_Store
**/.idea
**/*.egg-info/
**/.vscode
.coverage
*.json
*.xlsx
*.csv

/.venv

**/.env
**/build
**/node_modules
**/dist
## EXCLUSIONS ##
!**/tests/data/*.json
!**/package.json
