**/__pycache__
**/.pytest_cache
**/.DS_Store
**/.idea
**/*.egg-info/
**/.vscode
.coverage
*.json
*.xlsx
*.csv
*.log
/.venv
**/.env
**/build
**/node_modules
**/dist
celerybeat-schedule

## EXCLUSIONS ##
!**/tests/data/*.json
!**/package.json
